/* SLIDER - SLIDER - SLIDER - SLIDER - SLIDER - SLIDER - SLIDER - SLIDER - SLIDER - SLIDER -  */
.ad-slider{
    position: relative;
  }
  
  .next-icon{
    right: 0;
  }
  
  .prev-icon{
    left: 0;
  }
  
  .next-icon,
  .prev-icon {
    position: absolute;
    cursor: pointer;
    font-size: 60px;
    font-style: normal;
    top: 50%;
    transform: translateY(-50%);
  }
  .ad-slider{
    display: flex;
    justify-content: center;
  }
  .ad-card{
    user-select: none;
    max-width: 500px;
    height: auto;
    padding: 20px;
    transition: transform 0.5s;
    background: transparent;
    text-align: left;
  }
  
  .ad-title-name{}
  .ad-title-discount{}
  .ad-title-description{}
  .ad-title-card{}
  .ad-title-brand{}
  
  .ad-title-name,
  .ad-title-discount,
  .ad-title-description,
  .ad-title-card,
  .ad-title-brand{
   margin-top:0;
   margin-bottom:0;
  }
  .custom-row-height-1{
    height: auto
  }
  
  .custom-row-height-2{
    height: 250px;
  }
  
  .ad-img{
    width: 100%;
    height: 100%;
  }