.header-bar{
  position: sticky;
  top:0;
  right: 0;
  width: 100%;
  z-index: 4;
}

.custom-link{
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
  border: none;
  background: transparent;
  width: 100%;
}


.custom-link:active, .custom-link:focus{
  color: #ffffff;
}

  
.custom-btn{
  text-align: center;
  cursor: pointer;
  margin:0;
  font-size: 14px;
  color: #ffffff;
  border: none;
  background:transparent;
}
.custom-btn:active, .custom-btn:focus{
  border: none;
}

.custom-list{
  font-size: 14px;
  background-color: #ffffff;
  color:#141414;
  width:100px;
  list-style-type: none;
  padding-left: 10px;
  text-align: left;
}

.custom-list li:hover{
  background-color: #eaeded;
}

.no-padding{
  padding: 0; 
}

a{
  text-decoration: none;
  color: inherit;
}

.custom-nav-bar{
  background: #232323;
  font-weight: 700;
}

.custom-acc-bar{
  background: #141414;
  font-weight: 700;
  color: #eaeded;
}

.web-title-container{
  display: flex;
  gap: 10px;
  align-items: center;
}

.web-title-container button{
  display: none;
}

.web-title{
  font-family: 'Pacifico', cursive;
  margin-bottom: 0;
}

.user-info{
  margin-left: auto;
  display: flex;
  justify-content: end;
  align-items: center;
}
.user-info p{
  margin-right: 10px;
  margin-bottom: 0;
  width: max-content;
}

.user-info-text{
  display: flex;
  flex-direction: column;
}

.user-img{
  width: 40px;
  border-radius: 50%;
  border: #eaeded 2px solid;
}

.user-request{
  font-size: 10px;
}

.addressEl{
  display: flex;
  align-items: start;
  gap: 5px;
}

.logout-btn{
  user-select: none;
    border: 2px transparent solid;
    background-color: #141414;
    color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logout-btn:hover{
  border: 2px solid transparent;
  color: #febd69;
}
.category-dropdown{
  width: 250px;
  margin: 5px 0 0 20px;
  padding-left: 0;
  list-style-type: none;
  position: absolute;
  background-color: #eaeaea;
  border: 1px solid #acacac;
}
.cat-link{
  font-size: 16px;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.cat-link:hover{
  font-size: 16px;
  color: red;
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (max-width: 576px) {
  .acc-bar-firstname{
    display: none;
  }

  .addressEl{
    display: none;
  }
  .web-title-container button{
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
    color: white;
    font-size: 2rem;
  }
  .custom-link{
    justify-content: left;
    padding-left: 10px;
  }
}

@media (min-width: 425px) { /* applies to only wide screens*/
}

